
.container {
  display: flex;
  height: 1000px;
  background: linear-gradient(to right, #f5f2f2, #f5bca5); 
  width:2100px;
}

.name{
  font-size: 50px;
}

.img{
  margin-left:350px;
  height: 500px;
  margin-top:250px;
}
  
.rectangle2 {
  margin-left:200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress {
  margin-top: 150px;
  text-align: left;
  margin-left:200px;
  font-size: 25px;
  /* color:#646cffaa */
  color: black
 
}
  
.progressBar {
  padding: 10px;
  border-radius: 4px;
}
  
.skill {
  display: flex;
  align-items: center;
  margin: 5px ;
}
  
.progressBarContainer {
  width: 150px;
  background-color: #ddd;
  height: 10px;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: 10px
}
  
.progressBarFill {
  height: 100%;
  border-radius: 4px;
  background-color: #0077ff;
  
}
.weight .progressBarContainer {
  width: 17px; 
  background-color: #ddd;
  height: 10px;
  border-radius: 4px;
}
.weight .progressBarFill {
  height: 100%;
  border-radius: 4px;
  background-color: #0077ff; /* Color de fondo de la barra de progreso */
  width: 70%; /* Ajusta este valor según el porcentaje deseado (por ejemplo, 70%) */
}

.porcentaje{
  margin-left:180px;
  margin-top:-15px;
  font-size:15px
}


.loader {
  height: 200px;
  aspect-ratio: 1;
  position: absolute;
  margin-top:200px;
  margin-left:350px;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform-origin: bottom;
}

.loader::after {
  background: radial-gradient(at 75% 15%,#fffb,#0000 35%),
    radial-gradient(at 80% 40%,#0000,#0008),
    radial-gradient(circle  5px,#fff 94%,#0000),
    radial-gradient(circle 10px,#000 94%,#0000),
    linear-gradient(#F93318 0 0) top   /100% calc(50% - 5px),
    linear-gradient(#fff    0 0) bottom/100% calc(50% - 5px)
    #000;
  background-repeat: no-repeat;
  animation: l20 1s infinite cubic-bezier(0.5,120,0.5,-120);
}

.loader::before {
  background: #ddd;
  filter: blur(8px);
  transform: scaleY(0.4) translate(-13px, 0px);
}

@keyframes l20 {
 
  30%,70% {
    transform: rotate(0deg)
  }

  49.99% {
    transform: rotate(0.2deg)
  }

  50% {
    transform: rotate(-0.2deg)
  }
}