.menu {
  background: linear-gradient(to bottom,  #f9d9f9,  #c27da6);
  height: 63px;
  padding-left: 18px;
  border-radius: 10px;
  /* margin:20px */
  /* position:fixed; */
  position: absolute;
  background-color: white;
  display:flex;
  flex-direction: column;
  width: 100vw;
  align-items:center;
  z-index: 1000;

}
  
.botonHome {
  position: relative; 
  top: -38px; 
  left: 300px; 
  list-style: none;
  height:39px; 
  background-color: white;
  border: 2px solid #646cffaa;
}
  
.botonForm {
  position: relative; 
  top: -93px; 
  left: 450px;
  list-style: none;
  height:39px;
  background-color: white; 
  border: 2px solid #646cffaa;
}
  
  
  
  
  
  
  
  
